Repository openshift/openshift-restclient-python, pull requests merged in 2019-03, with the labels that each got.

#269 Improve error message on protocol mismatch
  openshift/dynamic/client.py
Labels: size/S

#272 Make list from kind resource item
  openshift/dynamic/client.py
  test/unit/test_discoverer.py
Labels: ok-to-test, size/M

#274 Prevent cache corruption from preventing the client from initializing
  openshift/dynamic/client.py
Labels: size/XS

#277 Make list from kind resource item
  openshift/dynamic/client.py
  test/unit/test_resource_container.py
Labels: needs-ok-to-test, size/M
